.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#root{
  font-family: "Micro 5", sans-serif;
}
.App {
  text-align: center;
}
.mainContent{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.clock-container {
  position: relative;
  width: 300px;
  margin: auto;
}

.clock-face {
  width: 100%;
}

.hour-hand {
  position: absolute;
  width: 20px;
  top: 17%;
  left: 49%;
  transform-origin: bottom center;
}

.minute-hand {
  position: absolute;
  width: 15px;
  top: 26%;
  left: 50%;
  transform-origin: bottom center;
}